/* 
html, body {
	background: #FFFFFF url(../res/fancy_deboss.png) repeat;
	min-width: 960px;
}
 */
body {
	background: rgb(208,228,247); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(208,228,247,1) 0%, rgba(115,177,231,1) 24%, rgba(104,159,204,1) 50%, rgba(83,159,225,1) 79%, rgba(135,188,234,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(208,228,247,1)), color-stop(24%,rgba(115,177,231,1)), color-stop(50%,rgba(104,159,204,1)), color-stop(79%,rgba(83,159,225,1)), color-stop(100%,rgba(135,188,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(104,159,204,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(104,159,204,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(104,159,204,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(104,159,204,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=1 ); /* IE6-9 */
}

.logo {
	height: 50px;
	width: 50px;
	float: left;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.grow:hover {
	height: 55px;
	width: 55px;
}

.navbar-brand {
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-brand:hover {
	font-size: 22px;
}

.body_container {
	font-family: 'Vollkorn', Georgia, Times, serif;
	background: #F0F0F0;
	border: 1px solid rgba(18, 83, 88, 1);
	border-radius: 15px;
}

#stock_form {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 3px;
}

#custom-bootstrap-menu.navbar-static-top .navbar-brand {
    color: rgba(255, 255, 255, 1);
}

#custom-bootstrap-menu.navbar-static-top .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.5);
}

#custom-bootstrap-menu.navbar-static-top {
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 0px;
    border-color: #537C80;
    border-radius: 7px;
}

#custom-bootstrap-menu.navbar {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 0px;
    border-color: #537C80;
    border-radius: 7px;
    //width: 2000px;
}

#custom-bootstrap-menu.navbar-static-top .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0);
}

#custom-bootstrap-menu.navbar-static-top .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-static-top .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
	//margin: .4em;
	cursor: pointer;
	//background: #e1e1e1;
	text-decoration: none;
	//color: #666;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

#custom-bootstrap-menu.navbar-static-top .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-static-top .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-static-top .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.5);
}

#custom-bootstrap-menu.navbar-static-top .navbar-toggle {
    border-color: #ddd;
}

#custom-bootstrap-menu.navbar-static-top .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-static-top .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-static-top .navbar-toggle .icon-bar {
    background-color: #888;
}

#custom-bootstrap-menu.navbar-static-top .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-static-top .navbar-toggle:focus .icon-bar {
    background-color: #000000;
}

.jumbotron {
	border: 1px solid;
	border-color: #537C80;
}

.form-signin-heading {
    color: #537C80;
	//text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

label {
    color: rgba(62, 92, 95, 1);
}

.dropdown-menu>li>a {
	color: rgba(18, 83, 88, 1);
}

.dropdown-menu>li>a:hover {
	background-color: rgba(18, 83, 88, 1);
	color: #FFFFFF;
}

.dropdown-menu>.active>a {
	background-color: #F0F0F0;
	color: rgba(18, 83, 88, 1);
}

.dropdown-menu>.active>a:hover {
	background-color: rgba(18, 83, 88, 1);
	color: #FFFFFF;
}

.search_stocks { 
	margin-right: auto;
	margin-left: auto;
}

.data_container {
	padding-top: 10px;
	padding-bottom: 15px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.data_child {
	padding-top: 15px;
    border: 0px solid white;
	width: 800px;
}


td {
	border: 0px solid white;
}

.search_stocks {
	width: 100%;
}

.search_table {
	width: 80%;
	mid-width: 30em;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.search_table table{
    border-spacing: 0;
	height:100%;
	margin:0px;padding:0px;
}
.search_table tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.search_table table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.search_table table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}
.search_table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}
.search_table tr:hover td{
	
}

.search_table tr:nth-child(odd){ background-color:#56aaff; }
.search_table tr:nth-child(even){ background-color:#ffffff; }
.search_table td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:12px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
.search_table tr:last-child td{
	border-width:0px 1px 0px 0px;
}
.search_table tr td:last-child{
	border-width:0px 0px 1px 0px;
}
.search_table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.search_table tr:first-child td{
	background:-o-linear-gradient(bottom, #56aaff 5%, #cccccc 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56aaff), color-stop(1, #cccccc) );
	background:-moz-linear-gradient( center top, #56aaff 5%, #cccccc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#56aaff", endColorstr="#cccccc");	background: -o-linear-gradient(top,#56aaff,cccccc);
	background-color:#56aaff;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.search_table tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #56aaff 5%, #cccccc 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56aaff), color-stop(1, #cccccc) );
	background:-moz-linear-gradient( center top, #56aaff 5%, #cccccc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#56aaff", endColorstr="#cccccc");	background: -o-linear-gradient(top,#56aaff,cccccc);

	background-color:#56aaff;
}
.search_table tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.search_table tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

th {
	text-align: center;
}
.table-responsive
{
    overflow-x: auto;
}

.dialog {
	display: none;
}

#progressbar {
	display: none;
}

.ui-wait-button .ui-icon-waiting {
   background-image: url("../res/waitbutton-loading.gif");
   background-position: 0 center;
}

.btn {
	background-color: #338BFF;
	border: 0px;
	color: #FFFFFF;
}

.btn:hover {
	background-color: #8ABDFF;
	border: 0px;
	color: #ffffff;
}

.btn2 {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #537C80);
  background-image: -moz-linear-gradient(top, #000000, #537C80);
  background-image: -ms-linear-gradient(top, #000000, #537C80);
  background-image: -o-linear-gradient(top, #000000, #537C80);
  background-image: linear-gradient(to bottom, #000000, #537C80);
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  border: solid #537C80 1px;
  text-decoration: none;
}

.btn2:hover {
  background: #537C80;
  text-decoration: none;
}

legend {
	font-size: 120%;
}
  
@media only screen and (min-width : 768px) {
    /* Make Navigation Toggle on Desktop Hover */
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}


.loading { margin: auto; }

.loading span {
  line-height: 32px;
  margin-left: 12px;
  font-size: 16px;
  vertical-align: middle;
}

.loading img { vertical-align: middle; }

.loading_wrp {
  background-color: #FFF;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1020;
}

.loading_wrp .x16 span {
  line-height: 16px;
  font-size: 12px;
  margin-left: 6px;
}

.loading_wrp .x32 img {
  width: 32px;
  height: 32px;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


